/* common styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Philosopher";
}
/* common styling end */

header {
  background-image: url(./img/bg-image.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* Nav styling */
header .main nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #415679;
  width: 100%;
}
header .main nav img {
  width: 110px;
  height: 100px;
  margin-left: 40px;
  cursor: pointer;
}
header ul {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-left: 10px;
}
header ul li {
  padding-right: 70px;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav ul li a:hover {
  color: #fec9ca;
}
/* Nav styling end */

header h1 {
  width: 430px;
  height: 100px;
  margin: 180px 0 0 100px;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
  color: #fee950;
}
header p {
  width: 750px;
  height: 160px;
  margin: 30px 0 0 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
header .about-us-btn {
  width: 250px;
  height: 60px;
  margin: 0 0 0 100px;
  background: #fee950;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #415679;
  border: none;
}
header .about-us-btn:hover {
  border: 1px solid #fee542;
  background-color: #415679;
  color: #fee542;
}
.about-us-btn:focus {
  outline: none;
}
header .arrow {
  font-size: 50px;
  text-decoration: none;
  color: #000;
}
header .arrow i {
  position: absolute;
  width: 0px;
  height: 40px;
  left: 50%;
  top: 90%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}
/* Header styling end */

/* Portfolio styling */
.main-portfolio {
  background: rgba(183, 201, 213, 0.3);
  height: 100vh;
  background-image: url(./img/makeup-img.jpg);
  background-size: 840px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.portfolio-info {
  font-weight: bold;
  color: #333333;
  padding-top: 80px;
  padding-left: 255px;
}
.portfolio-info-title {
  font-size: 40px;
  line-height: 67px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.portfolio-info-desc {
  width: 1030px;
  font-size: 20px;
  line-height: 36px;
}
.portfolio-content {
  padding-top: 80px;
  padding-left: 950px;
  font-weight: bold;
  color: #000000;
}
.portfolio-content h1 {
  width: 459px;
  font-size: 40px;
  line-height: 67px;
  text-transform: uppercase;
}
.portfolio-content p {
  margin-top: 20px;
  width: 500px;
  height: 233px;
  font-size: 20px;
  line-height: 36px;
}
.portfolio-content button {
  margin-top: 30px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #415679;
  background-color: #fee542;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  border: none;
  cursor: pointer;
}
.portfolio-content button:hover {
  border: 1px solid #fee542;
  background-color: #415679;
  color: #fee542;
}
.portfolio-content button:focus {
  outline: none;
}
/* Portfolio styling end */

/* Testimonials styling */
.testimonials {
  background: #415679;
  height: 100vh;
}
.testimonials .title {
  font-weight: bold;
  padding-left: 234px;
  padding-top: 90px;
}
.testimonials .title h1 {
  color: #fee542;
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
}
.testimonials .title p {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 1030px;
  height: 96px;
  font-size: 20px;
  line-height: 48px;
  color: #ffffff;
}
.testimonials .members {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .members .member-1 {
  margin-right: 15em;
  background: #fee542;
  border-radius: 30px;
  width: 330px;
  height: 447px;
}
.testimonials .members .member-2 {
  background: #fee542;
  border-radius: 30px;
  width: 330px;
  height: 447px;
}
.testimonials .members div.member-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.testimonials .members .member-image img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.testimonials .members div.text {
  width: 100%;
  height: 50%;
  text-align: center;
  font-weight: bold;
  color: #000000;
}
.testimonials .members div.text h1 {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
}
.testimonials .members div.text p {
  margin-left: 11px;
  width: 300px;
  height: 192px;
  font-size: 14px;
  line-height: 36px;
}
/* Testimonials styling end */

/* Services styling */
.services {
  background: rgba(183, 201, 213, 0.3);
  background-image: url(./img/creative-img.png);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services .title {
  color: #000000;
  font-weight: bold;
  padding-left: 234px;
  padding-top: 90px;
}
.services .title h1 {
  font-size: 55px;
  line-height: 67px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.services .title p {
  max-width: 1030px;
  height: 72px;
  font-size: 20px;
  line-height: 36px;
}
.services .content {
  margin-left: 230px;
  font-weight: bold;
  color: #000000;
}
.services .content h1 {
  margin-top: 80px;
  width: 400px;
  font-size: 35px;
  line-height: 67px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
}
.services .content p {
  width: 500px;
  height: 216px;
  font-size: 20px;
  line-height: 36px;
}
/* Services styling end */

/* Supporters styling */
.supporters-main {
  background: #415679;
}
.supporters-main .container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}
.supporters-main .supporters-info {
  padding: 100px 75px;
  color: #ffffff;
  font-weight: bold;
}
.supporters-info .supporters-info-title {
  margin-bottom: 30px;
  font-size: 55px;
  text-transform: uppercase;
}
.supporters-info .supporters-info-desc {
  max-width: 1030px;
  font-size: 20px;
  line-height: 36px;
}
.logo-item {
  display: flex;
  align-items: flex-end;
  margin: -3% 0 0 -3%;
  padding-bottom: 30px;
  width: 100%;
}
.logo-item-img {
  padding: 3% 0 0 3%;
}
.logo-items-top {
  justify-content: flex-end;
}
/* Supporters styling end */

/* About us styling */
.main-about-us {
  background: rgba(183, 201, 213, 0.3);
}
.about-us-info {
  color: #000000;
  font-weight: bold;
  padding-left: 234px;
  padding-top: 90px;
  margin-bottom: 20px;
}
.about-us-info .about-us-title {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
}
.about-us-info .about-us-desc {
  max-width: 1030px;
  font-size: 20px;
  line-height: 36px;
}
.main-about-us .content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.about-us-img {
  width: 50%;
}
.about-us-content {
  margin-top: 0;
  padding-left: 110px;
  background: #fec9ca;
  width: 50%;
  height: 512px;
  color: #000000;
  font-weight: bold;
}
.about-us-content h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 50px;
  line-height: 67px;
  text-transform: uppercase;
}
.about-us-content p {
  font-size: 17px;
  line-height: 36px;
  max-width: 500px;
}
/* About us styling end */

/* Concact us styling */
.main-contact-us {
  background: rgba(183, 201, 213, 0.3);
}
.main-contact-us .container {
  max-width: 1280px;
  padding: 90px 230px;
  margin: 0 auto;
}
.contact-us-info {
  color: #000000;
  font-weight: bold;
}
.contact-us-info .contact-us-title {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 30px;
}
.contact-us-info .contact-us-desc {
  font-size: 20px;
  max-width: 1030px;
  margin-bottom: 20px;
}
.form-control {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  border-bottom: 1px solid gray;
  margin: 0 20px 30px 0;
  padding: 20px;
  width: 300px;
}
.contact-form-bottom input {
  width: 95.5%;
  height: 300px;
  background: transparent;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
}
.contact-forms button {
  margin: 20px 73.5%;
  width: 250px;
  height: 60px;
  background: #fee950;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #415679;
  border: none;
}
.contact-forms button:hover {
  border: 1px solid #fee542;
  background-color: #415679;
  color: #fee542;
}
.contact-forms button:focus {
  outline: none;
}
/* Contact us styling end */
.main-footer {
  background: #415679;
}
.main-footer .container {
  max-width: 1280px;
  padding: 90px 230px;
  margin: 0 auto;
}
.footer-nav {
  border-bottom: 1px solid #ffffff;
}
.footer-nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.footer-nav ul li a {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}
.footer-nav ul img {
  position: relative;
  bottom: 25px;
  width: 100px;
  height: 90px;
  cursor: pointer;
}
.social-media-logo {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-logo img {
  width: 40px;
  height: 40px;
  padding: 20px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
